[submodule "workhorse/gitops/online-boutique/charts/microservices-demo"]
	path = workhorse/gitops/online-boutique/charts/microservices-demo
	url = https://github.com/GoogleCloudPlatform/microservices-demo.git
